<!DOCTYPE html>
<html>
<head>
  <title>Tower of Saviors</title>
  <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
  <script src="pace.min.js"></script>
  <link href="pace-theme.css" rel="stylesheet" />
  <script src="jquery.min.js"></script>
  <script src="angular.min.js"></script>
  <link rel="stylesheet" type="text/css" href="bootstrap.css">
  <script src="bootstrap.min.js"></script>
  <script src="tabletop.min.js"></script>
  <style>
  .form-horizontal div.checkbox { display: inline-block; padding-right: 5px; }
  .header { text-align: center; font-weight: bold; }
  .icon { text-align: center; display: inline-block; width: 40px; height: 61px; }
  .icon div { background-image: url('icons/sprite.jpg'); width: 40px; height: 40px; display: block; vertical-align: middle; }
  .icon span { top: 32px; padding-top: 8px; display: inline-block; position: relative; }
  .evolve { display: inline-block; margin-right: 5px; }
  .evolve-result { display: inline-block; }
  .evolve-result:before { content: ''; vertical-align: middle; border: 15px solid transparent; border-left-color: black; border-right-width: 5px; font-size: 0; }
  .card-icon, .name { display: table-cell; }
  .name { padding-left: 5px; vertical-align: top; }
  .row:hover { background-color: #eee; }
  .row { border-top: 1px solid #ddd; padding-top:5px; padding-bottom: 5px; }
  .row.header { border-top: none; }
  .row.selected { box-shadow: inset 0px 0px 8px black; }
  .skill-name { font-weight: bold; }
  .skill-effect { margin-left: 10px; }
  </style>
  <script type="text/javascript">
  var styleSheet = document.styleSheets[document.styleSheets.length-1]
  for(var i = 0; i < 30; i++) {
    styleSheet.insertRule('.col'+i+'{background-position-x: -'+(1+i*42)+'px;}', 0)
    styleSheet.insertRule('.row'+i+'{background-position-y: -'+(1+i*42)+'px;}', 0)
  }
  </script>
  <script type="text/javascript">
  app = angular.module("myApp", [])
  app.filter('limit', function() {
    return function(input, all) {
      if (all || !input) return input
      return input.slice(0, 20)
    }
  })
  app.directive('cardThumbnail', function() {
    return {
      scope: {
        card_id: '=cardid',
      },
      link: function(scope, element, attrs) {
        scope.main_scope = window.scope
        scope.tooltip = function(card_id){
          return scope.main_scope.get_card_name(card_id)+' #'+card_id
        }
        scope.class_name = function(card_id){
          return "col"+(card_id % 20)+" row"+(Math.floor(card_id / 20))
        }
      },
      template: '<a class="icon" href="#{{card_id}}">'+
                  '<div ng-class="class_name(card_id)" title="{{tooltip(card_id)}}"><span title="{{tooltip(card_id)}}">#{{card_id}}</span></div>'+
                  ''+
                '</a>'
    };
  })
  app.controller('AppController', ['$scope', function(scope){
    window.scope = scope
    scope.search = ''
    scope.selected_card = undefined
    scope.showskills = false
    scope.format_id = function(str){
      if (!str) return str
      if (str.length == 1 && str != '-'){
        return "00"+str
      }
      if (str.length == 2){
        return "0"+str
      }
      return ''+str
    }
    scope.icon_path = function(card_id){
      return "icons/"+scope.format_id(card_id)+".png"
    }
    scope.get_card = function(card_id){
      return scope.cards_by_id[card_id]
    }
    scope.get_card_name = function(card_id){
      var card = scope.cards_by_id[scope.format_id(card_id)]
      return card && card.name
    }
    scope.isNumeric = function(value){
      value = ''+value
      return /^[0-9]+$/.test(value)
    }
    scope.match = function(value, pattern){
      return value.toLowerCase().indexOf(pattern.toLowerCase()) >= 0
    }
    scope.filter_stars = function(s, card){
      return card.stars == s
    }
    scope.filter_card_id = function(s, card){
      return (card.id == s) || (card.evolves.indexOf(s) >= 0) || (card.evolved == s)
    }
    scope.filter_text = function(s, card){
      return scope.match(card.name, s) || scope.match(card.race, s)
    }
    scope.filter_skill = function(s, card){
      s = s.replace('skill:', '')
      return scope.match(card.skill, s) || scope.match(card.skilleffect, s) ||
             scope.match(card.leaderskill, s) || scope.match(card.leaderskilleffect, s)
    }
    scope.filter_all = function(s, card){
      return true
    }
    scope.$watch('search', function(){
      scope.filter_name = ''
      scope.filter_function = undefined
      var s = scope.search
      if (scope.isNumeric(s)) {
        if (s.length == 1) {
          scope.filter_name = 'Show cards with '+s+' stars'
          scope.filter_function = scope.filter_stars
        } else if (s.length == 3) {
          scope.filter_name = 'Show cards related to card '+s
          scope.filter_function = scope.filter_card_id
        }
      } else {
        if (s.substr(0, 6) == 'skill:') {
          scope.filter_name = 'Search for Skill: '+s.replace('skill:', '')
          scope.filter_function = scope.filter_skill
        } else if (s.length > 0) {
          scope.filter_name = 'Search for Name or Race: '+s
          scope.filter_function = scope.filter_text
        } else {
          scope.filter_name = 'Filtering options: number 1-9 to search for stars; card id 001 to 999; filter for name or race; "skill:<pattern>"'
          scope.filter_function = scope.filter_all
        }
      }
    })
    scope.card_matcher = function(card){
      var s = scope.search
      return scope.filter_function && scope.filter_function(s, card)
    }
    scope.select_card = function(card){
      if (scope.selected_card == card) {
        scope.selected_card = undefined
      } else {
        scope.selected_card = card
      }
    }

    function updateCards(data, tabletop) {
      // console.log(data)
      // console.log(tabletop)
      scope.$apply(function(){
        scope.cards = []
        scope.cards_by_id = {}
        for(var i in data){
          // if (i > 10) return
          var card = data[i]
          var evolves = []
          for(var j = 1; j <= 5; j++){
            var evolve = card['evolve' + j]
            if (evolve && evolve != '-') {
              evolves.push(scope.format_id(evolve))
            }
          }
          card.evolves = evolves
          card.evolved = scope.format_id(card.evolved)
          card.id = scope.format_id(card.id)
          scope.cards.push(card)
          scope.cards_by_id[card.id] = card
          // console.log('card'+i, card)
        }
      })
    }
    Tabletop.init( { key: '0AgrwVCi0Zp_LdHJCaTEtX1hhbkM1UnlPYW5WUUxWRlE',
                   callback: updateCards,
                   simpleSheet: true } )
  }])
  </script>
</head>

<body ng-controller="AppController">
  <div id="main">
    <div class="container">
      <form class="form-horizontal">
        <div class="form-group">
          <label for="search" class="col-sm-2 control-label">Search</label>
          <div class="col-sm-10">
            <input id="search" autofocus class="form-control" ng-model="search">
          </div>
          <div class="col-sm-10 col-sm-offset-2">
            {{filter_name}}
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-10 col-sm-offset-2">
            <div class="checkbox">
              <label>
                <input type="checkbox" ng-model="all">
                Show all cards (might be very slow)
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" ng-model="showskills">
                Always show skills (not just for the selected card)
              </label>
            </div>
          </div>
        </div>
      </form>
    </div>

    <div class="cards container-fluid">
      <div class="row header">
        <div class="col-sm-2 col-xs-4">Card</div>
        <div class="col-sm-1 hidden-xs">Race</div>
        <div class="col-sm-1 hidden-xs">Stars</div>
        <div class="col-sm-1 hidden-xs">Max level</div>
        <div class="col-sm-1 col-xs-2">HP</div>
        <div class="col-sm-1 col-xs-2">ATK</div>
        <div class="col-sm-5 col-xs-10">Evolve</div>
      </div>
      <div class="row" ng-repeat="card in cards | filter:card_matcher | limit:all" ng-click="select_card(card)" id="{{card.id}}" ng-class="{selected: selected_card == card}">
        <div class="col-sm-2 col-xs-4"><div class="card-icon" card-thumbnail cardid="card.id"></div><div class="name">{{card.name}}</div></div>
        <div class="col-sm-1 hidden-xs">{{card.race}}</div>
        <div class="col-sm-1 hidden-xs">{{card.stars}}</div>
        <div class="col-sm-1 hidden-xs">{{card.lvl}}</div>
        <div class="col-sm-1 col-xs-2">{{card.hp}}</div>
        <div class="col-sm-1 col-xs-2">{{card.atk}}</div>
        <div class="col-sm-5 col-xs-10">
          <div class="evolves" ng-if="card.evolved && card.evolved != '-'">
            <div class="evolve" ng-repeat="evolve in card.evolves track by $index">
              <div card-thumbnail cardid="evolve"></div>
            </div><div card-thumbnail class="evolve-result" cardid="card.evolved"></div>
          </div>
          <div ng-if="card.evolved == '-'">Cannot evolve</div>
        </div>
        <div class="col-xs-12" ng-if="selected_card == card || showskills">
          <div class="skill">
            <div class="skill-name">Skill: {{card.skill}}</div>
            <div class="skill-effect">{{card.skilleffect}}</div>
          </div>
        </div>
        <div class="col-xs-12" ng-if="selected_card == card || showskills">
          <div class="leader skill">
            <div class="skill-name">Leader Skill: {{card.leaderskill}}</div>
            <div class="skill-effect">{{card.leaderskilleffect}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
  angular.bootstrap(document, ['myApp'])
  </script>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-48535839-3', 'sullerandras.github.io');
    ga('send', 'pageview');
  </script>
</body>
</html>
